<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/nguy7710_a2/src/nguy7710_a01/ClientSide.java"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="1"/>
    </listAttribute>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_EXCLUDE_TEST_CODE" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="nguy7710_a01.ClientSide"/>
    <stringAttribute key="org.eclipse.jdt.launching.MODULE_NAME" value="nguy7710_a01"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="nguy7710_a2"/>
</launchConfiguration>
